.scroll {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    scrollbar-width: none;
    width: 100%;
  }
  
  .scroll p {
    font-family: "Tilt Neon", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.3);
    color: transparent;
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  .scroll p:nth-child(1) {
    animation: scrolling-rtl 25s infinite linear;
    margin-bottom: 210px;
  }
  
  .scroll p:nth-child(2) {
    animation: scrolling-ltr 25s infinite linear;
  }
  
  @keyframes scrolling-rtl {
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes scrolling-ltr {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(100%);
    }
  }
  